body {
    color: rgba( 0, 0, 0, 0.87 );
    background: #E0E0E0;
	font-size: 1.6em;
	font-weight: 300;
    font-family: "Roboto", sans-serif;
}

header {
	background: #212121;
    width: 100%;
	padding: 20px 30px;
    color: #FFF;
	display: none;
}

header img {
    height: 40px;
}

span.hl {
	color: #F44336;
	font-weight: 300;
}

.hero {
	background: #212121;
	height: 800px;
	height: 90vh;
	min-height: 400px;
	padding: 0;
	
	font-weight: 100;
	color: #FFFFFF;
	
	/* for z-index */
	z-index: -1;
	position: relative;
}

.hero-fixed {
	position: fixed;
	top: 20%;
	width: 100%;
}

.hero-fixed .logo {
	background-image: url('../images/logo.png');
	background-size: auto 100%;
	margin: 0 auto;
	margin-bottom: 0;
	width: 8em;
	height: 8em;
}

.hero .tagline {
	width: 100%;
	font-size: 3em;
}

.hero .sub {
	width: 100%;
	margin-top: 1em;
	font-size: 1em;
	font-weight: 500;
}

/*
	Tablet and larger
*/
@media (min-width: 768px) {
	.hero-fixed .logo {
		width: 10em;
		height: 10em;
		margin-bottom: 1em;
	}
	.hero-fixed .tagline {
		font-size: 3.5em;
	}
	.hero-fixed .sub {
		font-size: 1.25em;
	}
}

.s1 {
	min-height: 80em;
	background: #F44336;
}

footer {
    /* background: #4DB6AC; */
    padding: 2em;
	font-weight: 600;
	font-size: 1.1em;
    color: rgba( 0, 0, 0, 0.54 );
}