html, body
{
	height: 100%;
}

body {
    color: rgba( 0, 0, 0, 0.87 );
    background: #E0E0E0;
	font-size: 1.6em;
	font-weight: 300;
    font-family: "Roboto", sans-serif;
}

header {
	background: #212121;
    width: 100%;
	padding: 20px 30px;
    color: #FFF;
	display: none;
}

header img {
    height: 40px;
}

span.hl {
	color: #F44336;
	font-weight: 300;
}

.hero {
	background: #212121;
	height: 800px;
	height: 90vh;
	min-height: 400px;
	padding: 0;
	
	font-weight: 100;
	color: #FFFFFF;
	
	/* for z-index */
	z-index: -1;
	position: relative;
}

.hero-fixed {
	position: fixed;
	top: 20%;
	width: 100%;
}

.hero-fixed .logo {
	background-image: url('../images/logo.png');
	background-size: auto 100%;
	margin: 0 auto;
	margin-bottom: 0;
	width: 8em;
	height: 8em;
}

.hero .tagline {
	width: 100%;
	font-size: 3em;
}

.hero .sub {
	width: 100%;
	margin-top: 1em;
	font-size: 1em;
	font-weight: 500;
}

/*
	Tablet and larger
*/
@media (min-width: 768px) {
	.hero-fixed .logo {
		width: 10em;
		height: 10em;
		margin-bottom: 1em;
	}
	.hero-fixed .tagline {
		font-size: 3.5em;
	}
	.hero-fixed .sub {
		font-size: 1.25em;
	}
}

paper-fab.scroll-down, paper-fab.scroll-up {
	background: #E0E0E0;
	color: #424242;
	z-index: 10;
}

paper-fab.gallery-nav {
	color: #424242;
	background: #E0E0E0;
}

.overlap {
	margin-top: -28px;
	margin-bottom: -28px;
}

.s1 {
	background-color: #F44336;
	transition: background-color 1s;
}

.about {
	margin-top: 3em;
	padding: 30px 40px;
	color: #EEEEEE;
	font-size: 1em;
}

.gallery {
	position: relative;
	overflow: hidden;
	height: 1600px;
}

@media (min-width: 768px) {
	.about {
		padding: 50px 60px;
		font-size: 1.25em;
	}

	.gallery {
		height: 1200px;
	}
}

.page {
	position: absolute;
	display: none;
	top: 0;
	left: 100%;
	width: 100%;
}

.page.active {
	display: block;
	left: 0;
}

.page .graphic {
	background-color: #212121;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.page .graphic .title {
	position: absolute;
	background: rgba( 0, 0, 0, 0.54 );
	padding: 5px 10px;
	bottom: 50px;
	left: 30px;

	text-transform: uppercase;
	font-weight: 100;
	font-size: 2.5em;
	color: #EEE;
}

.page .description {
	margin-top: 1em;
	padding: 30px 40px;

	color: #FFFFFF;
	font-size: 1em;
}

@media (min-width: 768px) {
	.page .graphic .title {
		bottom: 50px;
		left: 60px;
		font-size: 3em;
	}

	.page .description {
		padding: 50px 60px;
		font-size: 1.25em;
	}
}

footer {
    background: #E0E0E0;
    padding: 3em 2em;
	font-weight: 600;
	font-size: 1.1em;
	z-index: 5;
    color: rgba( 0, 0, 0, 0.54 );
}

footer img {
	margin-bottom: 2em;
}