body {
  font-family: "Cabin", sans-serif;
}

/* All headings in sans-serif font */
h1, h2, h3, h4, h5 {
  font-family: "Vollkorn", serif;
}

/*
 * Foundation overrides
 */

kbd {
  /* Remove rounded border from keystroke */
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;

  font-family: monospace;
}

input, textarea {
  font-family: monospace !important;
}


.animated {
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*
 * Brand Style
 */
.brand {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;

  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Cabin", sans-serif;
}

.brand > span {
  font-weight: 700;
}

/*
 * Hero Element styles
 */
.hero {
  min-width: 100%;

  height: 500px;
}

  .hero .hero-wrapper {

    background: #000000 url('../images/bg-mobile.png') no-repeat center center;
    background-size: cover;

    height: 100%;
    width: 100%;

    /* Gutters to ensure content doesn't get too close to edge */
    padding: 1rem;

    /* Flexbox for centering title */
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    text-align: center;
  }

  .hero h1 {
    /*text-shadow: 0 0 5px rgba(255, 255, 255, 1);*/
  }

  .hero small {
    /*text-shadow: 0 0 5px rgba(255, 255, 255, 1);*/

    margin-top: 1rem;

    font-family: monospace;
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: 1px;

    display: none;
  }

/*
 * Sticky nav style
 */

/* Default styles, while it's over hero image */
[data-magellan-expedition] {
  background: none;

  margin-top: -3.25rem;
  padding: 0;

  /* Animate background color transition */
  transition: background 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: background 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

  .nav-shim {
    /* Text shim, fallback to solid transparent background */
    background: rgba(0,0,0,0.5);
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75));
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75));
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75));
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75));

    padding: 1rem;
  }

  .sub-nav {
    width: 100%;
    padding: 0;
    /* Match the foundation row max-width */
    max-width: 62.5rem;
    /* Center within page-width nav */
    margin: 0 auto;
  }

    .sub-nav dd {
      font-family: monospace;
      text-transform: uppercase;
      letter-spacing: 1px;

      /* 1/3rd width with fallback to approximate value */
      width: 33.33%;
      width: calc(100% / 3);

      padding: 0;
      margin: 0;
      text-align: center;
    }

    .sub-nav dd:first-child {
      text-align: left;
    }

    .sub-nav dd:last-child {
      text-align: right;
    }

      .sub-nav dd a {
        color: #ffffff;

        /* Mobile: Make the link highlight grey */
        -webkit-tap-highlight-color: #CCCCCC;
      }

        .sub-nav dd a:hover {
          color: #dddddd;
          text-decoration: underline;
        }

        .sub-nav dd a:active {
          text-decoration: none;
        }

      .sub-nav dd.active a {
        background: none;
      }

/* Styles for once it attaches to top */
[data-magellan-expedition].fixed {
  background: rgba(255,255,255,0.95);

  margin-top: 0;
}

  .fixed .nav-shim {
    /* Hide text shim when fixed to top */
    background: none;
  }

  .fixed .sub-nav dd a {
    color: #555555;
  }

    .fixed .sub-nav dd a:hover {
      text-decoration: underline;
    }

  .fixed .sub-nav dd.active a {
    border-radius: 0;
    color: #ffffff;
    background: #000000;
  }

    .fixed .sub-nav dd.active a:hover, .fixed .sub-nav dd.active a:focus {
      background: #000000;
    }

/* Hacky fix for weird Magellan expedition cloning */
[data-magellan-expedition-clone] { display: none; }

/*
 * Content section styles
 */
.content > article {
  margin-top: 2rem;
}

/*
 * Portfolio gallery styles
 */

.gallery {
  overflow: hidden;
}

  .gallery .gallery-slide {
    display: none;
  }
  .gallery .gallery-slide:first-child {
    display: block;
  }

  .gallery .gallery-content {
    margin-top: 1rem;
  }

  .gallery .gallery-image {
    background: url('images/banner_teamsummon.png') no-repeat center top;
    background-size: cover;
    height: 200px;

    /* Let the overlay be positioned absolutely inside */
    position: relative;
  }

    .gallery .gallery-image .gallery-nav {
      font-family: monospace;
      font-size: 1.25rem;

      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;

      /* Make the text not selectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Relative to gallery-image (position: absolute set by gallery-overlay) */
      top: 0;
    }

      .gallery .gallery-image .gallery-nav-right {
        right: 0;
      }

      .gallery .gallery-image .gallery-nav-left {
        left: 0;
      }

    .gallery .gallery-image h2 {
      padding: 0 0.5rem;

      font-family: monospace;
      text-transform: uppercase;
      letter-spacing: 1px;

      /* Relative to gallery-image (position: absolute set by gallery-overlay) */
      bottom: 0;
      left: 0;
    }

    .gallery .gallery-image .gallery-overlay {
      position: absolute;
      margin: 1rem;

      background: #FFFFFF;
      color: #000000;
    }

/*
 * Footer styles
 */
footer {
  background: #000;
  color: #fff;

  padding: 3rem 0;
}

  footer .copyright {
    text-align: center;
  }

/*
 * Medium screen styles
 */
@media only screen and (min-width: 40.063em) {

  /*
   * Hero element styles
   */
  .hero {
    height: 700px;
  }

  .hero .hero-wrapper {
    background-image: url('../images/bg.jpeg');
  }

  .hero small {
    font-size: 1.25rem;

    display: block;
  }

  /*
   * Content Styles
   */
  .content > article {
    margin-top: 5rem;
  }

  /*
   * Gallery Styles
   */
  .gallery .gallery-image {
    height: 350px;
  }

  .gallery .gallery-image .gallery-overlay {
    margin: 1.5rem;
  }

  /*
   * Footer styles
   */
  footer .copyright {
    text-align: right;
  }
}

/*
 * Large screen styles
 */
@media only screen and (min-width: 64.063em) {
  /*
   * Hero element styles
   */
  .brand {
    top: 2.5rem;
    left: 2.5rem;
  }

  .hero {
    height: 100%;

    padding: 1rem;
  }

  /*
   * Magellan nav styles
   */
  [data-magellan-expedition] {
    margin-top: -4.25rem;

    padding: 0 1rem;
  }

    .nav-shim {
      /* Account for padding on hero div */
      padding: 1rem;
    }

  /*
   * Gallery styles
   */
  .gallery .gallery-image {
    height: 500px;
  }

  .gallery .gallery-image .gallery-overlay {
    margin: 2rem;
  }
}
